Service References/BulkJobService/BulkJobService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="https://api.baidu.com/sem/sms/v3" xmlns:common="http://api.baidu.com/sem/common/v2" name="BulkJobService" targetNamespace="https://api.baidu.com/sem/sms/v3" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="https://api.baidu.com/sem/sms/v3">
      <xsd:import schemaLocation="https://api.baidu.com/sem/sms/v3/BulkJobService?xsd=../../Common.xsd" namespace="http://api.baidu.com/sem/common/v2" />
      <xsd:complexType name="ChangedItemType">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="id" type="xsd:long" />
          <xsd:element minOccurs="0" name="adgroupId" type="xsd:long" />
          <xsd:element minOccurs="0" name="campaignId" type="xsd:long" />
          <xsd:element minOccurs="0" name="operator" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="FilePathType">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="accountFilePath" type="xsd:string" />
          <xsd:element minOccurs="0" name="campaignFilePath" type="xsd:string" />
          <xsd:element minOccurs="0" name="adgroupFilePath" type="xsd:string" />
          <xsd:element minOccurs="0" name="keywordFilePath" type="xsd:string" />
          <xsd:element minOccurs="0" name="creativeFilePath" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="newCreativeFilePaths" type="xsd:string" />
          <xsd:element minOccurs="0" name="accountFileMd5" type="xsd:string" />
          <xsd:element minOccurs="0" name="campaignFileMd5" type="xsd:string" />
          <xsd:element minOccurs="0" name="adgroupFileMd5" type="xsd:string" />
          <xsd:element minOccurs="0" name="keywordFileMd5" type="xsd:string" />
          <xsd:element minOccurs="0" name="creativeFileMd5" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="newCreativeFileMd5s" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ChangedCampaignIdType">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="campaignId" type="xsd:long" />
          <xsd:element minOccurs="0" name="operator" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ChangedAdgroupIdType">
        <xsd:sequence>
          <xsd:element name="operator" type="xsd:int" />
          <xsd:element name="campaignId" type="xsd:long" />
          <xsd:element name="adgroupId" type="xsd:long" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ChangedItemIdType">
        <xsd:sequence>
          <xsd:element name="operator" type="xsd:int" />
          <xsd:element name="itemId" type="xsd:long" />
          <xsd:element name="campaignId" type="xsd:long" />
          <xsd:element name="adgroupId" type="xsd:long" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ChangedNewCreativeType">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="operator" type="xsd:int" />
          <xsd:element minOccurs="0" name="id" type="xsd:long" />
          <xsd:element minOccurs="0" name="adgroupId" type="xsd:long" />
          <xsd:element minOccurs="0" name="campaignId" type="xsd:long" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ChangedNewCreativeScaleType">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="changedNewCreativeScale" type="xsd:long" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="VariableColumn">
        <xsd:sequence>
          <xsd:element name="key" type="xsd:string" />
          <xsd:element name="value" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="getFileStateRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="fileId" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getFileStateResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="isGenerated" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getAllChangedObjectsRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="campaignIds" type="xsd:long" />
            <xsd:element minOccurs="0" name="changedAdgroupFile" type="xsd:boolean" />
            <xsd:element minOccurs="0" name="changedCampaignFile" type="xsd:boolean" />
            <xsd:element minOccurs="0" name="changedCreativeFile" type="xsd:boolean" />
            <xsd:element minOccurs="0" name="changedKeywordFile" type="xsd:boolean" />
            <xsd:element minOccurs="0" name="changedNewCreativeFiles" type="xsd:int" />
            <xsd:element minOccurs="0" name="format" type="xsd:int" />
            <xsd:element minOccurs="0" name="includeTemp" type="xsd:boolean" />
            <xsd:element minOccurs="0" name="includeTempChangedNewCreatives" type="xsd:int" />
            <xsd:element minOccurs="0" name="startTime" type="xsd:dateTime" />
            <xsd:element minOccurs="0" name="includePhraseType" type="xsd:int" />
            <xsd:element minOccurs="0" name="extended" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getAllChangedObjectsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="fileId" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getChangedItemIdRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="startTime" type="xsd:dateTime" />
            <xsd:element minOccurs="0" name="type" type="xsd:int" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="ids" type="xsd:long" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getChangedItemIdResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="endTime" type="xsd:dateTime" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="changedKeywordIds" type="tns:ChangedItemType" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="changedCreativeIds" type="tns:ChangedItemType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getFilePathRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="fileId" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getFilePathResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="filePaths" type="tns:FilePathType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getChangedCampaignIdRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="startTime" type="xsd:dateTime" />
            <xsd:element minOccurs="0" name="campaignLevel" type="xsd:boolean" />
            <xsd:element minOccurs="0" name="adgroupLevel" type="xsd:boolean" />
            <xsd:element minOccurs="0" name="itemLevel" type="xsd:boolean" />
            <xsd:element minOccurs="0" name="newCreativeLevel" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getChangedCampaignIdResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="changedCampaignIds" type="tns:ChangedCampaignIdType" />
            <xsd:element minOccurs="0" name="endTime" type="xsd:dateTime" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getChangedIdRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" name="startTime" type="xsd:dateTime" />
            <xsd:element minOccurs="0" name="extended" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getChangedIdResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="endTime" type="xsd:dateTime" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="changedCampaignIds" type="tns:ChangedCampaignIdType" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="changedAdgroupIds" type="tns:ChangedAdgroupIdType" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="changedKeywordIds" type="tns:ChangedItemIdType" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="changedCreativeIds" type="tns:ChangedItemIdType" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="changedNewCreativeIds" type="tns:ChangedNewCreativeType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getChangedNewCreativeIdRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" name="startTime" type="xsd:dateTime" />
            <xsd:element minOccurs="0" name="type" type="xsd:int" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="ids" type="xsd:long" />
            <xsd:element minOccurs="0" name="newCreativeType" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getChangedNewCreativeIdResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="endTime" type="xsd:dateTime" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="changedNewCreativeIds" type="tns:ChangedNewCreativeType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getChangedScaleRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" name="startTime" type="xsd:dateTime" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="campaignIds" type="xsd:long" />
            <xsd:element minOccurs="0" name="changedCampaignScale" type="xsd:boolean" />
            <xsd:element minOccurs="0" name="changedAdgroupScale" type="xsd:boolean" />
            <xsd:element minOccurs="0" name="changedKeywordScale" type="xsd:boolean" />
            <xsd:element minOccurs="0" name="changedCreativeScale" type="xsd:boolean" />
            <xsd:element minOccurs="0" name="changedNewCreativeScales" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getChangedScaleResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="changedCampaignScale" type="xsd:long" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="changedAdgroupScale" type="xsd:long" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="changedKeywordScale" type="xsd:long" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="changedCreativeScale" type="xsd:long" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="changedNewCreativeScales" type="tns:ChangedNewCreativeScaleType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getAllObjectsRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="campaignIds" type="xsd:long" />
            <xsd:element minOccurs="0" name="includeQuality" type="xsd:boolean" />
            <xsd:element minOccurs="0" name="includeTemp" type="xsd:boolean" />
            <xsd:element minOccurs="0" name="format" type="xsd:int" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="variableColumns" type="tns:VariableColumn" />
            <xsd:element minOccurs="0" name="newCreativeFiles" type="xsd:int" />
            <xsd:element minOccurs="0" name="includeTempNewCreatives" type="xsd:int" />
            <xsd:element minOccurs="0" name="includePhraseType" type="xsd:int" />
            <xsd:element minOccurs="0" name="extended" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getAllObjectsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="fileId" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getChangedAdgroupIdRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="startTime" type="xsd:dateTime" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="campaignIds" type="xsd:long" />
            <xsd:element minOccurs="0" name="adgroupLevel" type="xsd:boolean" />
            <xsd:element minOccurs="0" name="itemLevel" type="xsd:boolean" />
            <xsd:element minOccurs="0" name="newCreativeLevel" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getChangedAdgroupIdResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="endTime" type="xsd:dateTime" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="changedAdgroupIds" type="tns:ChangedAdgroupIdType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getSelectedObjectsRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="campaignIds" type="xsd:long" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="campaignSelectedColumn" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="adgroupSelectedColumn" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="keywordSelectedColumn" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="creativeSelectedColumn" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="newCreativeSelectedColumn" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="selectedRow" type="tns:VariableColumn" />
            <xsd:element minOccurs="0" name="format" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getSelectedObjectsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="fileId" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="cancelDownloadRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="fileId" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="cancelDownloadResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="isCanceled" type="xsd:integer" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getChangedScaleResponse">
    <wsdl:part name="parameters" element="tns:getChangedScaleResponse" />
  </wsdl:message>
  <wsdl:message name="getFilePathRequest">
    <wsdl:part name="parameters" element="tns:getFilePathRequest" />
  </wsdl:message>
  <wsdl:message name="getChangedCampaignIdRequest">
    <wsdl:part name="parameters" element="tns:getChangedCampaignIdRequest" />
  </wsdl:message>
  <wsdl:message name="cancelDownloadResponse">
    <wsdl:part name="parameters" element="tns:cancelDownloadResponse" />
  </wsdl:message>
  <wsdl:message name="getChangedAdgroupIdResponse">
    <wsdl:part name="parameters" element="tns:getChangedAdgroupIdResponse" />
  </wsdl:message>
  <wsdl:message name="getChangedIdResponse">
    <wsdl:part name="parameters" element="tns:getChangedIdResponse" />
  </wsdl:message>
  <wsdl:message name="ResHeader">
    <wsdl:part name="ResHeader" element="common:ResHeader" />
  </wsdl:message>
  <wsdl:message name="getAllObjectsRequest">
    <wsdl:part name="parameters" element="tns:getAllObjectsRequest" />
  </wsdl:message>
  <wsdl:message name="getAllObjectsResponse">
    <wsdl:part name="parameters" element="tns:getAllObjectsResponse" />
  </wsdl:message>
  <wsdl:message name="getChangedItemIdRequest">
    <wsdl:part name="parameters" element="tns:getChangedItemIdRequest" />
  </wsdl:message>
  <wsdl:message name="getSelectedObjectsRequest">
    <wsdl:part name="parameters" element="tns:getSelectedObjectsRequest" />
  </wsdl:message>
  <wsdl:message name="AuthHeader">
    <wsdl:part name="AuthHeader" element="common:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="getFilePathResponse">
    <wsdl:part name="parameters" element="tns:getFilePathResponse" />
  </wsdl:message>
  <wsdl:message name="cancelDownloadRequest">
    <wsdl:part name="parameters" element="tns:cancelDownloadRequest" />
  </wsdl:message>
  <wsdl:message name="getChangedNewCreativeIdRequest">
    <wsdl:part name="parameters" element="tns:getChangedNewCreativeIdRequest" />
  </wsdl:message>
  <wsdl:message name="getChangedIdRequest">
    <wsdl:part name="parameters" element="tns:getChangedIdRequest" />
  </wsdl:message>
  <wsdl:message name="getChangedNewCreativeIdResponse">
    <wsdl:part name="parameters" element="tns:getChangedNewCreativeIdResponse" />
  </wsdl:message>
  <wsdl:message name="getFileStateResponse">
    <wsdl:part name="parameters" element="tns:getFileStateResponse" />
  </wsdl:message>
  <wsdl:message name="getFileStateRequest">
    <wsdl:part name="parameters" element="tns:getFileStateRequest" />
  </wsdl:message>
  <wsdl:message name="getAllChangedObjectsResponse">
    <wsdl:part name="parameters" element="tns:getAllChangedObjectsResponse" />
  </wsdl:message>
  <wsdl:message name="getChangedCampaignIdResponse">
    <wsdl:part name="parameters" element="tns:getChangedCampaignIdResponse" />
  </wsdl:message>
  <wsdl:message name="getSelectedObjectsResponse">
    <wsdl:part name="parameters" element="tns:getSelectedObjectsResponse" />
  </wsdl:message>
  <wsdl:message name="getChangedAdgroupIdRequest">
    <wsdl:part name="parameters" element="tns:getChangedAdgroupIdRequest" />
  </wsdl:message>
  <wsdl:message name="getChangedScaleRequest">
    <wsdl:part name="parameters" element="tns:getChangedScaleRequest" />
  </wsdl:message>
  <wsdl:message name="getChangedItemIdResponse">
    <wsdl:part name="parameters" element="tns:getChangedItemIdResponse" />
  </wsdl:message>
  <wsdl:message name="getAllChangedObjectsRequest">
    <wsdl:part name="parameters" element="tns:getAllChangedObjectsRequest" />
  </wsdl:message>
  <wsdl:portType name="BulkJobService">
    <wsdl:operation name="getFileState">
      <wsdl:input message="tns:getFileStateRequest" />
      <wsdl:output message="tns:getFileStateResponse" />
    </wsdl:operation>
    <wsdl:operation name="getAllChangedObjects">
      <wsdl:input message="tns:getAllChangedObjectsRequest" />
      <wsdl:output message="tns:getAllChangedObjectsResponse" />
    </wsdl:operation>
    <wsdl:operation name="getChangedItemId">
      <wsdl:input message="tns:getChangedItemIdRequest" />
      <wsdl:output message="tns:getChangedItemIdResponse" />
    </wsdl:operation>
    <wsdl:operation name="getFilePath">
      <wsdl:input message="tns:getFilePathRequest" />
      <wsdl:output message="tns:getFilePathResponse" />
    </wsdl:operation>
    <wsdl:operation name="getChangedCampaignId">
      <wsdl:input message="tns:getChangedCampaignIdRequest" />
      <wsdl:output message="tns:getChangedCampaignIdResponse" />
    </wsdl:operation>
    <wsdl:operation name="getChangedId">
      <wsdl:input message="tns:getChangedIdRequest" />
      <wsdl:output message="tns:getChangedIdResponse" />
    </wsdl:operation>
    <wsdl:operation name="getChangedNewCreativeId">
      <wsdl:input message="tns:getChangedNewCreativeIdRequest" />
      <wsdl:output message="tns:getChangedNewCreativeIdResponse" />
    </wsdl:operation>
    <wsdl:operation name="getChangedScale">
      <wsdl:input message="tns:getChangedScaleRequest" />
      <wsdl:output message="tns:getChangedScaleResponse" />
    </wsdl:operation>
    <wsdl:operation name="getAllObjects">
      <wsdl:input message="tns:getAllObjectsRequest" />
      <wsdl:output message="tns:getAllObjectsResponse" />
    </wsdl:operation>
    <wsdl:operation name="getChangedAdgroupId">
      <wsdl:input message="tns:getChangedAdgroupIdRequest" />
      <wsdl:output message="tns:getChangedAdgroupIdResponse" />
    </wsdl:operation>
    <wsdl:operation name="getSelectedObjects">
      <wsdl:input message="tns:getSelectedObjectsRequest" />
      <wsdl:output message="tns:getSelectedObjectsResponse" />
    </wsdl:operation>
    <wsdl:operation name="cancelDownload">
      <wsdl:input message="tns:cancelDownloadRequest" />
      <wsdl:output message="tns:cancelDownloadResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BulkJobServiceSOAP" type="tns:BulkJobService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getFileState">
      <soap:operation soapAction="https://api.baidu.com/sem/sms/v3/BulkJobService/getFileState" />
      <wsdl:input>
        <soap:header message="tns:AuthHeader" part="AuthHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:ResHeader" part="ResHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllChangedObjects">
      <soap:operation soapAction="https://api.baidu.com/sem/sms/v3/BulkJobService/getAllChangedObjects" />
      <wsdl:input>
        <soap:header message="tns:AuthHeader" part="AuthHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:ResHeader" part="ResHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getChangedItemId">
      <soap:operation soapAction="https://api.baidu.com/sem/sms/v3/BulkJobService/getChangedItemId" />
      <wsdl:input>
        <soap:header message="tns:AuthHeader" part="AuthHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:ResHeader" part="ResHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFilePath">
      <soap:operation soapAction="https://api.baidu.com/sem/sms/v3/BulkJobService/getFilePath" />
      <wsdl:input>
        <soap:header message="tns:AuthHeader" part="AuthHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:ResHeader" part="ResHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getChangedCampaignId">
      <soap:operation soapAction="https://api.baidu.com/sem/sms/v3/BulkJobService/getChangedCampaignId" />
      <wsdl:input>
        <soap:header message="tns:AuthHeader" part="AuthHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:ResHeader" part="ResHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getChangedId">
      <soap:operation soapAction="https://api.baidu.com/sem/sms/v3/BulkJobService/getChangedId" />
      <wsdl:input>
        <soap:header message="tns:AuthHeader" part="AuthHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:ResHeader" part="ResHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getChangedNewCreativeId">
      <soap:operation soapAction="https://api.baidu.com/sem/sms/v3/BulkJobService/getChangedNewCreativeId" />
      <wsdl:input>
        <soap:header message="tns:AuthHeader" part="AuthHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:ResHeader" part="ResHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getChangedScale">
      <soap:operation soapAction="https://api.baidu.com/sem/sms/v3/BulkJobService/getChangedScale" />
      <wsdl:input>
        <soap:header message="tns:AuthHeader" part="AuthHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:ResHeader" part="ResHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllObjects">
      <soap:operation soapAction="https://api.baidu.com/sem/sms/v3/BulkJobService/getAllObjects" />
      <wsdl:input>
        <soap:header message="tns:AuthHeader" part="AuthHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:ResHeader" part="ResHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getChangedAdgroupId">
      <soap:operation soapAction="https://api.baidu.com/sem/sms/v3/BulkJobService/getChangedAdgroupId" />
      <wsdl:input>
        <soap:header message="tns:AuthHeader" part="AuthHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:ResHeader" part="ResHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSelectedObjects">
      <soap:operation soapAction="https://api.baidu.com/sem/sms/v3/BulkJobService/getSelectedObjects" />
      <wsdl:input>
        <soap:header message="tns:AuthHeader" part="AuthHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:ResHeader" part="ResHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cancelDownload">
      <soap:operation soapAction="https://api.baidu.com/sem/sms/v3/BulkJobService/cancelDownload" />
      <wsdl:input>
        <soap:header message="tns:AuthHeader" part="AuthHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:ResHeader" part="ResHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BulkJobService">
    <wsdl:port name="BulkJobService" binding="tns:BulkJobServiceSOAP">
      <soap:address location="https://api.baidu.com/sem/sms/v3/BulkJobService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>