Service References/BDWMKRService/KRService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="https://api.baidu.com/sem/nms/v2" xmlns:common="http://api.baidu.com/sem/common/v2" name="KRService" targetNamespace="https://api.baidu.com/sem/nms/v2" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="https://api.baidu.com/sem/nms/v2">
      <xsd:import schemaLocation="https://api.baidu.com/sem/nms/v2/KRService?xsd=../../Common.xsd" namespace="http://api.baidu.com/sem/common/v2" />
      <xsd:complexType name="RecommWordVo">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="word" type="xsd:string" />
          <xsd:element minOccurs="0" name="avgShowCnt" type="xsd:long" />
          <xsd:element minOccurs="0" name="uv" type="xsd:long" />
          <xsd:element minOccurs="0" name="cmpDegree" type="xsd:int" />
          <xsd:element minOccurs="0" name="kwRoot" type="xsd:string" />
          <xsd:element minOccurs="0" name="reasonId" type="xsd:long" />
          <xsd:element minOccurs="0" name="reserved1" type="xsd:int" />
          <xsd:element minOccurs="0" name="reserved2" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="RelatedWordVo">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="relatedWord" type="xsd:string" />
          <xsd:element minOccurs="0" name="reserved1" type="xsd:int" />
          <xsd:element minOccurs="0" name="reserved2" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="KRResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="recommWordVos" type="tns:RecommWordVo" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="relatedWordVos" type="tns:RelatedWordVo" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="KRResultType">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="word" type="xsd:string" />
          <xsd:element minOccurs="0" name="avgShowCnt" type="xsd:int" />
          <xsd:element minOccurs="0" name="uv" type="xsd:int" />
          <xsd:element minOccurs="0" name="cmpDegree" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="getKRBySeedRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" name="seed" type="xsd:string" />
            <xsd:element minOccurs="0" name="groupId" type="xsd:long" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="regionList" type="xsd:int" />
            <xsd:element minOccurs="1" name="targetType" type="xsd:int" />
            <xsd:element minOccurs="1" name="aliveDays" type="xsd:int" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="packIds" type="xsd:int" />
            <xsd:element minOccurs="0" name="reserved" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getKRBySeedResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="krResultTypes" type="tns:KRResultType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetKRSuggestBySeedRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="seed" type="xsd:string" />
            <xsd:element minOccurs="0" name="groupId" type="xsd:long" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="regionList" type="xsd:int" />
            <xsd:element name="targetType" type="xsd:int" />
            <xsd:element name="aliveDays" type="xsd:int" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="packIds" type="xsd:int" />
            <xsd:element minOccurs="0" name="reserved" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="KRSuggestResultType">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="word" type="xsd:string" />
          <xsd:element minOccurs="0" name="reserved" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="GetKRSuggestBySeedResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="krSuggestResultTypes" type="tns:KRSuggestResultType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getKRAndSuggestBySeedRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" name="seed" type="xsd:string" />
            <xsd:element minOccurs="0" name="groupId" type="xsd:long" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="regionList" type="xsd:int" />
            <xsd:element minOccurs="1" name="targetType" type="xsd:int" />
            <xsd:element minOccurs="1" name="aliveDays" type="xsd:int" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="packIds" type="xsd:int" />
            <xsd:element minOccurs="0" name="reserved" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getKRAndSuggestBySeedResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="krResponses" type="tns:KRResponse" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getKRBySeedResponse">
    <wsdl:part name="parameters" element="tns:getKRBySeedResponse" />
  </wsdl:message>
  <wsdl:message name="getKRBySeedRequest">
    <wsdl:part name="parameters" element="tns:getKRBySeedRequest" />
  </wsdl:message>
  <wsdl:message name="getKRAndSuggestBySeedResponse">
    <wsdl:part name="parameters" element="tns:getKRAndSuggestBySeedResponse" />
  </wsdl:message>
  <wsdl:message name="ResHeader">
    <wsdl:part name="ResHeader" element="common:ResHeader" />
  </wsdl:message>
  <wsdl:message name="GetKRSuggestBySeedResponse">
    <wsdl:part name="parameters" element="tns:GetKRSuggestBySeedResponse" />
  </wsdl:message>
  <wsdl:message name="getKRAndSuggestBySeedRequest">
    <wsdl:part name="parameters" element="tns:getKRAndSuggestBySeedRequest" />
  </wsdl:message>
  <wsdl:message name="GetKRSuggestBySeedRequest">
    <wsdl:part name="parameters" element="tns:GetKRSuggestBySeedRequest" />
  </wsdl:message>
  <wsdl:message name="AuthHeader">
    <wsdl:part name="AuthHeader" element="common:AuthHeader" />
  </wsdl:message>
  <wsdl:portType name="KRService">
    <wsdl:operation name="getKRBySeed">
      <wsdl:input message="tns:getKRBySeedRequest" />
      <wsdl:output message="tns:getKRBySeedResponse" />
    </wsdl:operation>
    <wsdl:operation name="getKRSuggestBySeed">
      <wsdl:input message="tns:GetKRSuggestBySeedRequest" />
      <wsdl:output message="tns:GetKRSuggestBySeedResponse" />
    </wsdl:operation>
    <wsdl:operation name="getKRAndSuggestBySeed">
      <wsdl:input message="tns:getKRAndSuggestBySeedRequest" />
      <wsdl:output message="tns:getKRAndSuggestBySeedResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="KRServiceSOAP" type="tns:KRService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getKRBySeed">
      <soap:operation soapAction="https://api.baidu.com/sem/nms/v2/KRService/getKRBySeed" />
      <wsdl:input>
        <soap:header message="tns:AuthHeader" part="AuthHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:ResHeader" part="ResHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getKRSuggestBySeed">
      <soap:operation soapAction="https://api.baidu.com/sem/nms/v2/KRService/getKRSuggestBySeed" />
      <wsdl:input>
        <soap:header message="tns:AuthHeader" part="AuthHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:ResHeader" part="ResHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getKRAndSuggestBySeed">
      <soap:operation soapAction="https://api.baidu.com/sem/nms/v2/KRService/getKRAndSuggestBySeed" />
      <wsdl:input>
        <soap:header message="tns:AuthHeader" part="AuthHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:ResHeader" part="ResHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="KRService">
    <wsdl:port name="KRService" binding="tns:KRServiceSOAP">
      <soap:address location="https://api.baidu.com/sem/nms/v2/KRService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>