Service References/ReportService/ReportService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="https://api.baidu.com/sem/sms/v3" xmlns:common="http://api.baidu.com/sem/common/v2" name="ReportService" targetNamespace="https://api.baidu.com/sem/sms/v3" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="https://api.baidu.com/sem/sms/v3">
      <xsd:import schemaLocation="https://api.baidu.com/sem/sms/v3/ReportService?xsd=../../Common.xsd" namespace="http://api.baidu.com/sem/common/v2" />
      <xsd:complexType name="AttributeType">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="key" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="value" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="RealTimeRequestType">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="performanceData" type="xsd:string" />
          <xsd:element minOccurs="0" name="order" type="xsd:boolean" />
          <xsd:element name="startDate" type="xsd:dateTime" />
          <xsd:element name="endDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="levelOfDetails" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="attributes" type="tns:AttributeType" />
          <xsd:element name="reportType" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="statIds" type="xsd:long" />
          <xsd:element minOccurs="0" name="statRange" type="xsd:int" />
          <xsd:element minOccurs="0" name="unitOfTime" type="xsd:int" />
          <xsd:element minOccurs="0" name="number" type="xsd:int" />
          <xsd:element minOccurs="0" name="device" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="RealTimeQueryRequestType">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="performanceData" type="xsd:string" />
          <xsd:element name="startDate" type="xsd:dateTime" />
          <xsd:element name="endDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="levelOfDetails" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="attributes" type="tns:AttributeType" />
          <xsd:element name="reportType" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="statIds" type="xsd:long" />
          <xsd:element minOccurs="0" name="statRange" type="xsd:int" />
          <xsd:element minOccurs="0" name="unitOfTime" type="xsd:int" />
          <xsd:element minOccurs="0" name="number" type="xsd:int" />
          <xsd:element minOccurs="0" name="device" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="RealTimeResultType">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="ID" type="xsd:long" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="name" type="xsd:string" />
          <xsd:element minOccurs="0" name="date" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="KPIs" type="xsd:string" />
          <xsd:element minOccurs="0" name="relatedId" type="xsd:long" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="RealTimeQueryResultType">
        <xsd:sequence>
          <xsd:element name="query" type="xsd:string" />
          <xsd:element minOccurs="0" name="keywordId" type="xsd:long" />
          <xsd:element minOccurs="0" name="creativeId" type="xsd:long" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="queryInfo" type="xsd:string" />
          <xsd:element name="date" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="KPIs" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="RealTimePairResultType">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="keywordId" type="xsd:long" />
          <xsd:element minOccurs="0" name="creativeId" type="xsd:long" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="pairInfo" type="xsd:string" />
          <xsd:element name="date" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="KPIs" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ReportRequestType">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" name="performanceData" type="xsd:string" />
          <xsd:element name="startDate" type="xsd:dateTime" />
          <xsd:element name="endDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="idOnly" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="levelOfDetails" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="attributes" type="tns:AttributeType" />
          <xsd:element minOccurs="0" name="format" type="xsd:int" />
          <xsd:element name="reportType" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="statIds" type="xsd:long" />
          <xsd:element minOccurs="0" name="statRange" type="xsd:int" />
          <xsd:element minOccurs="0" name="unitOfTime" type="xsd:int" />
          <xsd:element minOccurs="0" name="device" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="getRealTimeDataRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="realTimeRequestTypes" type="tns:RealTimeRequestType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getRealTimePairDataRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="realTimePairRequestTypes" type="tns:RealTimeRequestType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getRealTimeQueryDataRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="realTimeQueryRequestTypes" type="tns:RealTimeQueryRequestType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getRealTimeDataResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="realTimeResultTypes" type="tns:RealTimeResultType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getProfessionalReportIdRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="reportRequestType" type="tns:ReportRequestType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getProfessionalReportIdResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="reportId" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getReportStateRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="reportId" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getReportStateResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="isGenerated" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getReportFileUrlRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="reportId" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getReportFileUrlResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="reportFilePath" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getRealTimeQueryDataResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="realTimeQueryResultTypes" type="tns:RealTimeQueryResultType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getRealTimePairDataResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="realTimePairResultTypes" type="tns:RealTimePairResultType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getProfessionalReportIdRequest">
    <wsdl:part name="parameters" element="tns:getProfessionalReportIdRequest" />
  </wsdl:message>
  <wsdl:message name="getRealTimePairDataResponse">
    <wsdl:part name="parameters" element="tns:getRealTimePairDataResponse" />
  </wsdl:message>
  <wsdl:message name="getReportFileUrlResponse">
    <wsdl:part name="parameters" element="tns:getReportFileUrlResponse" />
  </wsdl:message>
  <wsdl:message name="getProfessionalReportIdResponse">
    <wsdl:part name="parameters" element="tns:getProfessionalReportIdResponse" />
  </wsdl:message>
  <wsdl:message name="getReportStateRequest">
    <wsdl:part name="parameters" element="tns:getReportStateRequest" />
  </wsdl:message>
  <wsdl:message name="ResHeader">
    <wsdl:part name="ResHeader" element="common:ResHeader" />
  </wsdl:message>
  <wsdl:message name="getRealTimeDataResponse">
    <wsdl:part name="parameters" element="tns:getRealTimeDataResponse" />
  </wsdl:message>
  <wsdl:message name="getReportStateResponse">
    <wsdl:part name="parameters" element="tns:getReportStateResponse" />
  </wsdl:message>
  <wsdl:message name="getRealTimeQueryDataResponse">
    <wsdl:part name="parameters" element="tns:getRealTimeQueryDataResponse" />
  </wsdl:message>
  <wsdl:message name="getRealTimeDataRequest">
    <wsdl:part name="parameters" element="tns:getRealTimeDataRequest" />
  </wsdl:message>
  <wsdl:message name="getRealTimeQueryDataRequest">
    <wsdl:part name="parameters" element="tns:getRealTimeQueryDataRequest" />
  </wsdl:message>
  <wsdl:message name="getRealTimePairDataRequest">
    <wsdl:part name="parameters" element="tns:getRealTimePairDataRequest" />
  </wsdl:message>
  <wsdl:message name="AuthHeader">
    <wsdl:part name="AuthHeader" element="common:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="getReportFileUrlRequest">
    <wsdl:part name="parameters" element="tns:getReportFileUrlRequest" />
  </wsdl:message>
  <wsdl:portType name="ReportService">
    <wsdl:operation name="getRealTimeData">
      <wsdl:input message="tns:getRealTimeDataRequest" />
      <wsdl:output message="tns:getRealTimeDataResponse" />
    </wsdl:operation>
    <wsdl:operation name="getProfessionalReportId">
      <wsdl:input message="tns:getProfessionalReportIdRequest" />
      <wsdl:output message="tns:getProfessionalReportIdResponse" />
    </wsdl:operation>
    <wsdl:operation name="getReportState">
      <wsdl:input message="tns:getReportStateRequest" />
      <wsdl:output message="tns:getReportStateResponse" />
    </wsdl:operation>
    <wsdl:operation name="getReportFileUrl">
      <wsdl:input message="tns:getReportFileUrlRequest" />
      <wsdl:output message="tns:getReportFileUrlResponse" />
    </wsdl:operation>
    <wsdl:operation name="getRealTimeQueryData">
      <wsdl:input message="tns:getRealTimeQueryDataRequest" />
      <wsdl:output message="tns:getRealTimeQueryDataResponse" />
    </wsdl:operation>
    <wsdl:operation name="getRealTimePairData">
      <wsdl:input message="tns:getRealTimePairDataRequest" />
      <wsdl:output message="tns:getRealTimePairDataResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ReportServiceSOAP" type="tns:ReportService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getRealTimeData">
      <soap:operation soapAction="https://api.baidu.com/sem/sms/v3/ReportService/getRealTimeData" />
      <wsdl:input>
        <soap:header message="tns:AuthHeader" part="AuthHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:ResHeader" part="ResHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProfessionalReportId">
      <soap:operation soapAction="https://api.baidu.com/sem/sms/v3/ReportService/getProfessionalReportId" />
      <wsdl:input>
        <soap:header message="tns:AuthHeader" part="AuthHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:ResHeader" part="ResHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getReportState">
      <soap:operation soapAction="https://api.baidu.com/sem/sms/v3/ReportService/getReportState" />
      <wsdl:input>
        <soap:header message="tns:AuthHeader" part="AuthHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:ResHeader" part="ResHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getReportFileUrl">
      <soap:operation soapAction="https://api.baidu.com/sem/sms/v3/ReportService/getReportFileUrl" />
      <wsdl:input>
        <soap:header message="tns:AuthHeader" part="AuthHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:ResHeader" part="ResHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRealTimeQueryData">
      <soap:operation soapAction="https://api.baidu.com/sem/sms/v3/ReportService/getRealTimeQueryData" />
      <wsdl:input>
        <soap:header message="tns:AuthHeader" part="AuthHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:ResHeader" part="ResHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRealTimePairData">
      <soap:operation soapAction="https://api.baidu.com/sem/sms/v3/ReportService/getRealTimePairData" />
      <wsdl:input>
        <soap:header message="tns:AuthHeader" part="AuthHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:ResHeader" part="ResHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ReportService">
    <wsdl:port name="ReportService" binding="tns:ReportServiceSOAP">
      <soap:address location="https://api.baidu.com/sem/sms/v3/ReportService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>