Service References/CampaignService/CampaignService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="https://api.baidu.com/sem/sms/v3" xmlns:common="http://api.baidu.com/sem/common/v2" name="CampaignService" targetNamespace="https://api.baidu.com/sem/sms/v3" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="https://api.baidu.com/sem/sms/v3">
      <xsd:import schemaLocation="https://api.baidu.com/sem/sms/v3/CampaignService?xsd=../../Common.xsd" namespace="http://api.baidu.com/sem/common/v2" />
      <xsd:complexType name="CampaignType">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="campaignId" type="xsd:long" />
          <xsd:element minOccurs="0" name="campaignName" type="xsd:string" />
          <xsd:element minOccurs="0" name="budget" type="xsd:double" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="regionTarget" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="excludeIp" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="negativeWords" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="exactNegativeWords" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="schedule" type="tns:ScheduleType" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="budgetOfflineTime" type="tns:OfflineTimeType" />
          <xsd:element minOccurs="0" name="showProb" type="xsd:int" />
          <xsd:element minOccurs="0" name="device" type="xsd:int" />
          <xsd:element minOccurs="0" name="priceRatio" type="xsd:double" />
          <xsd:element minOccurs="0" name="pause" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="status" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ScheduleType">
        <xsd:sequence>
          <xsd:element name="weekDay" type="xsd:long" />
          <xsd:element name="startHour">
            <xsd:simpleType>
              <xsd:restriction base="xsd:long">
                <xsd:minInclusive value="0" />
                <xsd:maxInclusive value="23" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="endHour">
            <xsd:simpleType>
              <xsd:restriction base="xsd:long">
                <xsd:minInclusive value="1" />
                <xsd:maxInclusive value="24" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="OfflineTimeType">
        <xsd:sequence>
          <xsd:element name="flag" type="xsd:int" />
          <xsd:element name="time" type="xsd:dateTime" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="GetAllCampaignIdRequest">
        <xsd:complexType>
          <xsd:sequence />
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetAllCampaignIdResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="campaignIds" type="xsd:long" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetCampaignByCampaignIdRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="unbounded" name="campaignIds" type="xsd:long" />
            <xsd:element minOccurs="0" name="extended" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetCampaignByCampaignIdResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="campaignTypes" type="tns:CampaignType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetAllCampaignRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="extended" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetAllCampaignResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="campaignTypes" type="tns:CampaignType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="AddCampaignRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="unbounded" name="campaignTypes" type="tns:CampaignType" />
            <xsd:element minOccurs="0" name="extended" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="AddCampaignResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="campaignTypes" type="tns:CampaignType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="UpdateCampaignRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="unbounded" name="campaignTypes" type="tns:CampaignType" />
            <xsd:element minOccurs="0" name="extended" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="UpdateCampaignResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="campaignTypes" type="tns:CampaignType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="DeleteCampaignRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="unbounded" name="campaignIds" type="xsd:long" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="DeleteCampaignResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="result" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="GetAllCampaignResponse">
    <wsdl:part name="parameters" element="tns:GetAllCampaignResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateCampaignRequest">
    <wsdl:part name="parameters" element="tns:UpdateCampaignRequest" />
  </wsdl:message>
  <wsdl:message name="AddCampaignResponse">
    <wsdl:part name="parameters" element="tns:AddCampaignResponse" />
  </wsdl:message>
  <wsdl:message name="ResHeader">
    <wsdl:part name="ResHeader" element="common:ResHeader" />
  </wsdl:message>
  <wsdl:message name="DeleteCampaignRequest">
    <wsdl:part name="parameters" element="tns:DeleteCampaignRequest" />
  </wsdl:message>
  <wsdl:message name="GetAllCampaignIdRequest">
    <wsdl:part name="parameters" element="tns:GetAllCampaignIdRequest" />
  </wsdl:message>
  <wsdl:message name="GetCampaignByCampaignIdResponse">
    <wsdl:part name="parameters" element="tns:GetCampaignByCampaignIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllCampaignRequest">
    <wsdl:part name="parameters" element="tns:GetAllCampaignRequest" />
  </wsdl:message>
  <wsdl:message name="DeleteCampaignResponse">
    <wsdl:part name="parameters" element="tns:DeleteCampaignResponse" />
  </wsdl:message>
  <wsdl:message name="AuthHeader">
    <wsdl:part name="AuthHeader" element="common:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="GetAllCampaignIdResponse">
    <wsdl:part name="parameters" element="tns:GetAllCampaignIdResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateCampaignResponse">
    <wsdl:part name="parameters" element="tns:UpdateCampaignResponse" />
  </wsdl:message>
  <wsdl:message name="GetCampaignByCampaignIdRequest">
    <wsdl:part name="parameters" element="tns:GetCampaignByCampaignIdRequest" />
  </wsdl:message>
  <wsdl:message name="AddCampaignRequest">
    <wsdl:part name="parameters" element="tns:AddCampaignRequest" />
  </wsdl:message>
  <wsdl:portType name="CampaignService">
    <wsdl:operation name="getAllCampaignId">
      <wsdl:input message="tns:GetAllCampaignIdRequest" />
      <wsdl:output message="tns:GetAllCampaignIdResponse" />
    </wsdl:operation>
    <wsdl:operation name="getCampaignByCampaignId">
      <wsdl:input message="tns:GetCampaignByCampaignIdRequest" />
      <wsdl:output message="tns:GetCampaignByCampaignIdResponse" />
    </wsdl:operation>
    <wsdl:operation name="getAllCampaign">
      <wsdl:input message="tns:GetAllCampaignRequest" />
      <wsdl:output message="tns:GetAllCampaignResponse" />
    </wsdl:operation>
    <wsdl:operation name="addCampaign">
      <wsdl:input message="tns:AddCampaignRequest" />
      <wsdl:output message="tns:AddCampaignResponse" />
    </wsdl:operation>
    <wsdl:operation name="updateCampaign">
      <wsdl:input message="tns:UpdateCampaignRequest" />
      <wsdl:output message="tns:UpdateCampaignResponse" />
    </wsdl:operation>
    <wsdl:operation name="deleteCampaign">
      <wsdl:input message="tns:DeleteCampaignRequest" />
      <wsdl:output message="tns:DeleteCampaignResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CampaignServiceSOAP" type="tns:CampaignService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getAllCampaignId">
      <soap:operation soapAction="https://api.baidu.com/sem/sms/v3/CampaignService/getAllCampaignId" />
      <wsdl:input>
        <soap:header message="tns:AuthHeader" part="AuthHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:ResHeader" part="ResHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCampaignByCampaignId">
      <soap:operation soapAction="https://api.baidu.com/sem/sms/v3/CampaignService/getCampaignByCampaignId" />
      <wsdl:input>
        <soap:header message="tns:AuthHeader" part="AuthHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:ResHeader" part="ResHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllCampaign">
      <soap:operation soapAction="https://api.baidu.com/sem/sms/v3/CampaignService/getAllCampaign" />
      <wsdl:input>
        <soap:header message="tns:AuthHeader" part="AuthHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:ResHeader" part="ResHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addCampaign">
      <soap:operation soapAction="https://api.baidu.com/sem/sms/v3/CampaignService/addCampaign" />
      <wsdl:input>
        <soap:header message="tns:AuthHeader" part="AuthHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:ResHeader" part="ResHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateCampaign">
      <soap:operation soapAction="https://api.baidu.com/sem/sms/v3/CampaignService/updateCampaign" />
      <wsdl:input>
        <soap:header message="tns:AuthHeader" part="AuthHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:ResHeader" part="ResHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteCampaign">
      <soap:operation soapAction="https://api.baidu.com/sem/sms/v3/CampaignService/deleteCampaign" />
      <wsdl:input>
        <soap:header message="tns:AuthHeader" part="AuthHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:ResHeader" part="ResHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CampaignService">
    <wsdl:port name="CampaignService" binding="tns:CampaignServiceSOAP">
      <soap:address location="https://api.baidu.com/sem/sms/v3/CampaignService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>