Service References/SgAccountService/AccountService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="https://api.sogou.com/sem/sms/v1" xmlns:common="http://api.sogou.com/sem/common/v1" name="AccountService" targetNamespace="https://api.sogou.com/sem/sms/v1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="https://api.sogou.com/sem/sms/v1">
      <xsd:import schemaLocation="http://api.agent.sogou.com:8080/sem/sms/v1/AccountService?xsd=../../Common.xsd" namespace="http://api.sogou.com/sem/common/v1" />
      <xsd:complexType name="AccountInfoType">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="accountid" type="xsd:long" />
          <xsd:element minOccurs="0" name="balance" type="xsd:double" />
          <xsd:element minOccurs="0" name="totalCost" type="xsd:double" />
          <xsd:element minOccurs="0" name="totalPay" type="xsd:double" />
          <xsd:element minOccurs="0" name="budget" type="xsd:double" />
          <xsd:element minOccurs="0" name="type" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="regions" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="20" name="excludeIps" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="domains" type="xsd:string" />
          <xsd:element minOccurs="0" ref="common:opt" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="getAccountInfoRequest">
        <xsd:complexType>
          <xsd:sequence />
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getAccountInfoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="accountInfoType" type="tns:AccountInfoType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="updateAccountInfoRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="accountInfoType" type="tns:AccountInfoType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="updateAccountInfoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="accountInfoType" type="tns:AccountInfoType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="ChangedCpcPlanIdType">
        <xsd:sequence>
          <xsd:element name="operator" type="xsd:int" />
          <xsd:element name="cpcPlanId" type="xsd:long" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="getChangedCpcPlanIdRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="startTime" type="xsd:dateTime" />
            <xsd:element minOccurs="0" name="cpcPlanLevel" type="xsd:boolean" />
            <xsd:element minOccurs="0" name="cpcGrpLevel" type="xsd:boolean" />
            <xsd:element minOccurs="0" name="cpcMaterialLevel" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getChangedCpcPlanIdResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="endTime" type="xsd:dateTime" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="changedCpcPlanIds" type="tns:ChangedCpcPlanIdType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="ChangedCpcGrpIdType">
        <xsd:sequence>
          <xsd:element name="operator" type="xsd:int" />
          <xsd:element name="cpcPlanId" type="xsd:long" />
          <xsd:element name="cpcGrpId" type="xsd:long" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="getChangedCpcGrpIdRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="startTime" type="xsd:dateTime" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="cpcPlanIds" type="xsd:long" />
            <xsd:element minOccurs="0" name="cpcGrpLevel" type="xsd:boolean" />
            <xsd:element minOccurs="0" name="cpcMaterialLevel" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getChangedCpcGrpIdResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="endTime" type="xsd:dateTime" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="changedCpcGrpIds" type="tns:ChangedCpcGrpIdType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="ChangedCpcIdType">
        <xsd:sequence>
          <xsd:element name="operator" type="xsd:int" />
          <xsd:element name="cpcId" type="xsd:long" />
          <xsd:element name="cpcGrpId" type="xsd:long" />
          <xsd:element name="cpcPlanId" type="xsd:long" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ChangedCpcIdeaIdType">
        <xsd:sequence>
          <xsd:element name="operator" type="xsd:int" />
          <xsd:element name="cpcIdeaId" type="xsd:long" />
          <xsd:element name="cpcGrpId" type="xsd:long" />
          <xsd:element name="cpcPlanId" type="xsd:long" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="getChangedCpcMaterialIdRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="startTime" type="xsd:dateTime" />
            <xsd:element name="levelType" type="xsd:int" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="ids" type="xsd:long" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getChangedCpcMaterialIdResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="endTime" type="xsd:dateTime" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="changedCpcIds" type="tns:ChangedCpcIdType" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="changedCpcIdeaIds" type="tns:ChangedCpcIdeaIdType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getChangedIdRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="startTime" type="xsd:dateTime" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getChangedIdResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="endTime" type="xsd:dateTime" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="changedCpcPlanIds" type="tns:ChangedCpcPlanIdType" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="changedCpcGrpIds" type="tns:ChangedCpcGrpIdType" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="changedCpcIds" type="tns:ChangedCpcIdType" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="changedCpcIdeaIds" type="tns:ChangedCpcIdeaIdType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getAccountInfoRequest">
    <wsdl:part name="parameters" element="tns:getAccountInfoRequest" />
  </wsdl:message>
  <wsdl:message name="getChangedCpcGrpIdRequest">
    <wsdl:part name="parameters" element="tns:getChangedCpcGrpIdRequest" />
  </wsdl:message>
  <wsdl:message name="AuthHeader">
    <wsdl:part name="AuthHeader" element="common:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="updateAccountInfoRequest">
    <wsdl:part name="parameters" element="tns:updateAccountInfoRequest" />
  </wsdl:message>
  <wsdl:message name="getAccountInfoResponse">
    <wsdl:part name="parameters" element="tns:getAccountInfoResponse" />
  </wsdl:message>
  <wsdl:message name="getChangedCpcMaterialIdResponse">
    <wsdl:part name="parameters" element="tns:getChangedCpcMaterialIdResponse" />
  </wsdl:message>
  <wsdl:message name="getChangedCpcMaterialIdRequest">
    <wsdl:part name="parameters" element="tns:getChangedCpcMaterialIdRequest" />
  </wsdl:message>
  <wsdl:message name="ResHeader">
    <wsdl:part name="ResHeader" element="common:ResHeader" />
  </wsdl:message>
  <wsdl:message name="getChangedIdRequest">
    <wsdl:part name="parameters" element="tns:getChangedIdRequest" />
  </wsdl:message>
  <wsdl:message name="getChangedCpcGrpIdResponse">
    <wsdl:part name="parameters" element="tns:getChangedCpcGrpIdResponse" />
  </wsdl:message>
  <wsdl:message name="getChangedIdResponse">
    <wsdl:part name="parameters" element="tns:getChangedIdResponse" />
  </wsdl:message>
  <wsdl:message name="getChangedCpcPlanIdRequest">
    <wsdl:part name="parameters" element="tns:getChangedCpcPlanIdRequest" />
  </wsdl:message>
  <wsdl:message name="getChangedCpcPlanIdResponse">
    <wsdl:part name="parameters" element="tns:getChangedCpcPlanIdResponse" />
  </wsdl:message>
  <wsdl:message name="updateAccountInfoResponse">
    <wsdl:part name="parameters" element="tns:updateAccountInfoResponse" />
  </wsdl:message>
  <wsdl:portType name="AccountService">
    <wsdl:operation name="getAccountInfo">
      <wsdl:input message="tns:getAccountInfoRequest" />
      <wsdl:output message="tns:getAccountInfoResponse" />
    </wsdl:operation>
    <wsdl:operation name="updateAccountInfo">
      <wsdl:input message="tns:updateAccountInfoRequest" />
      <wsdl:output message="tns:updateAccountInfoResponse" />
    </wsdl:operation>
    <wsdl:operation name="getChangedCpcPlanId">
      <wsdl:input message="tns:getChangedCpcPlanIdRequest" />
      <wsdl:output message="tns:getChangedCpcPlanIdResponse" />
    </wsdl:operation>
    <wsdl:operation name="getChangedCpcGrpId">
      <wsdl:input message="tns:getChangedCpcGrpIdRequest" />
      <wsdl:output message="tns:getChangedCpcGrpIdResponse" />
    </wsdl:operation>
    <wsdl:operation name="getChangedCpcMaterialId">
      <wsdl:input message="tns:getChangedCpcMaterialIdRequest" />
      <wsdl:output message="tns:getChangedCpcMaterialIdResponse" />
    </wsdl:operation>
    <wsdl:operation name="getChangedId">
      <wsdl:input message="tns:getChangedIdRequest" />
      <wsdl:output message="tns:getChangedIdResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AccountServiceSOAP" type="tns:AccountService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getAccountInfo">
      <soap:operation soapAction="https://api.sogou.com/sem/sms/v1/AccountService/getAccountInfo" />
      <wsdl:input>
        <soap:header message="tns:AuthHeader" part="AuthHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:ResHeader" part="ResHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateAccountInfo">
      <soap:operation soapAction="https://api.sogou.com/sem/sms/v1/AccountService/updateAccountInfo" />
      <wsdl:input>
        <soap:header message="tns:AuthHeader" part="AuthHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:ResHeader" part="ResHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getChangedCpcPlanId">
      <soap:operation soapAction="https://api.sogou.com/sem/sms/v1/AccountService/getChangedCampaignId" />
      <wsdl:input>
        <soap:header message="tns:AuthHeader" part="AuthHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:ResHeader" part="ResHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getChangedCpcGrpId">
      <soap:operation soapAction="https://api.sogou.com/sem/sms/v1/AccountService/getChangedAdgroupId" />
      <wsdl:input>
        <soap:header message="tns:AuthHeader" part="AuthHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:ResHeader" part="ResHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getChangedCpcMaterialId">
      <soap:operation soapAction="https://api.sogou.com/sem/sms/v1/AccountService/getChangedItemId" />
      <wsdl:input>
        <soap:header message="tns:AuthHeader" part="AuthHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:ResHeader" part="ResHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getChangedId">
      <soap:operation soapAction="https://api.sogou.com/sem/sms/v1/AccountService/getChangedId" />
      <wsdl:input>
        <soap:header message="tns:AuthHeader" part="AuthHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:ResHeader" part="ResHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AccountService">
    <wsdl:port name="AccountService" binding="tns:AccountServiceSOAP">
      <soap:address location="http://api.agent.sogou.com:8080/sem/sms/v1/AccountService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>