Service References/SgKRService/KRService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="https://api.sogou.com/sem/sms/v1" xmlns:common="http://api.sogou.com/sem/common/v1" name="KRService" targetNamespace="https://api.sogou.com/sem/sms/v1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="https://api.sogou.com/sem/sms/v1">
      <xsd:import schemaLocation="http://api.agent.sogou.com:8080/sem/sms/v1/KRService?xsd=../../Common.xsd" namespace="http://api.sogou.com/sem/common/v1" />
      <xsd:complexType name="FilterType">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="exclusiveWords" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="inclusiveWords" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="flags" type="xsd:int" />
          <xsd:element minOccurs="0" name="pv" type="xsd:int" />
          <xsd:element minOccurs="0" name="competition" type="xsd:int" />
          <xsd:element minOccurs="0" name="maxNum" type="xsd:int" />
          <xsd:element minOccurs="0" name="includeRegion" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="opt" type="common:OptType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SeedWordKRResultType">
        <xsd:sequence>
          <xsd:element name="seedWord" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="krResultTypes" type="tns:KRResultType" />
          <xsd:element minOccurs="0" name="opt" type="common:OptType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="KRResultType">
        <xsd:sequence>
          <xsd:element name="word" type="xsd:string" />
          <xsd:element minOccurs="0" name="broadPV" type="xsd:int" />
          <xsd:element minOccurs="0" name="competition" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="flags" type="xsd:int" />
          <xsd:element name="cpcPlanName" type="xsd:string" />
          <xsd:element name="cpcGrpName" type="xsd:string" />
          <xsd:element minOccurs="0" name="opt" type="common:OptType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="getKRBySeedWordsRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="5" name="seedWords" type="xsd:string" />
            <xsd:element name="filterType" type="tns:FilterType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getKRBySeedWordsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="krResults" type="tns:SeedWordKRResultType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getKRFileIdRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="100" name="seedWords" type="xsd:string" />
            <xsd:element name="filterType" type="tns:FilterType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getKRFileIdResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="krFileId" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getKRFileStatusRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" name="krFileId" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getKRFileStatusResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="isGenerated" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getKRFilePathRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" name="krFileId" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getKRFilePathResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="krFilePath" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getKRCustomRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="id" type="xsd:long" />
            <xsd:element minOccurs="0" name="type" type="xsd:int" />
            <xsd:element name="filterType" type="tns:FilterType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getKRCustomResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="krResults" type="tns:KRResultType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getKRFileIdRequest">
    <wsdl:part name="parameters" element="tns:getKRFileIdRequest" />
  </wsdl:message>
  <wsdl:message name="getKRBySeedWordsRequest">
    <wsdl:part name="parameters" element="tns:getKRBySeedWordsRequest" />
  </wsdl:message>
  <wsdl:message name="ResHeader">
    <wsdl:part name="ResHeader" element="common:ResHeader" />
  </wsdl:message>
  <wsdl:message name="getKRFileStatusResponse">
    <wsdl:part name="parameters" element="tns:getKRFileStatusResponse" />
  </wsdl:message>
  <wsdl:message name="getKRCustomRequest">
    <wsdl:part name="parameters" element="tns:getKRCustomRequest" />
  </wsdl:message>
  <wsdl:message name="getKRCustomResponse">
    <wsdl:part name="parameters" element="tns:getKRCustomResponse" />
  </wsdl:message>
  <wsdl:message name="getKRFileIdResponse">
    <wsdl:part name="parameters" element="tns:getKRFileIdResponse" />
  </wsdl:message>
  <wsdl:message name="AuthHeader">
    <wsdl:part name="AuthHeader" element="common:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="getKRFilePathRequest">
    <wsdl:part name="parameters" element="tns:getKRFilePathRequest" />
  </wsdl:message>
  <wsdl:message name="getKRFileStatusRequest">
    <wsdl:part name="parameters" element="tns:getKRFileStatusRequest" />
  </wsdl:message>
  <wsdl:message name="getKRBySeedWordsResponse">
    <wsdl:part name="parameters" element="tns:getKRBySeedWordsResponse" />
  </wsdl:message>
  <wsdl:message name="getKRFilePathResponse">
    <wsdl:part name="parameters" element="tns:getKRFilePathResponse" />
  </wsdl:message>
  <wsdl:portType name="KRService">
    <wsdl:operation name="getKRBySeedWords">
      <wsdl:input message="tns:getKRBySeedWordsRequest" />
      <wsdl:output message="tns:getKRBySeedWordsResponse" />
    </wsdl:operation>
    <wsdl:operation name="getKRFileId">
      <wsdl:input message="tns:getKRFileIdRequest" />
      <wsdl:output message="tns:getKRFileIdResponse" />
    </wsdl:operation>
    <wsdl:operation name="getKRFileStatus">
      <wsdl:input message="tns:getKRFileStatusRequest" />
      <wsdl:output message="tns:getKRFileStatusResponse" />
    </wsdl:operation>
    <wsdl:operation name="getKRFilePath">
      <wsdl:input message="tns:getKRFilePathRequest" />
      <wsdl:output message="tns:getKRFilePathResponse" />
    </wsdl:operation>
    <wsdl:operation name="getKRCustom">
      <wsdl:input message="tns:getKRCustomRequest" />
      <wsdl:output message="tns:getKRCustomResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="KRServiceSOAP" type="tns:KRService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getKRBySeedWords">
      <soap:operation soapAction="https://api.sogou.com/sem/sms/v1/KRService/getKRBySeedWords" />
      <wsdl:input>
        <soap:header message="tns:AuthHeader" part="AuthHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:ResHeader" part="ResHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getKRFileId">
      <soap:operation soapAction="https://api.sogou.com/sem/sms/v1/KRService/getKRFileId" />
      <wsdl:input>
        <soap:header message="tns:AuthHeader" part="AuthHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:ResHeader" part="ResHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getKRFileStatus">
      <soap:operation soapAction="https://api.sogou.com/sem/sms/v1/KRService/getKRFileStatus" />
      <wsdl:input>
        <soap:header message="tns:AuthHeader" part="AuthHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:ResHeader" part="ResHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getKRFilePath">
      <soap:operation soapAction="https://api.sogou.com/sem/sms/v1/KRService/getKRFilePath" />
      <wsdl:input>
        <soap:header message="tns:AuthHeader" part="AuthHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:ResHeader" part="ResHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getKRCustom">
      <soap:operation soapAction="https://api.sogou.com/sem/sms/v1/KRService/getKRCustom" />
      <wsdl:input>
        <soap:header message="tns:AuthHeader" part="AuthHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:ResHeader" part="ResHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="KRService">
    <wsdl:port name="KRService" binding="tns:KRServiceSOAP">
      <soap:address location="http://api.agent.sogou.com:8080/sem/sms/v1/KRService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>