Service References/AccountService/AccountService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="https://api.baidu.com/sem/sms/v3" xmlns:common="http://api.baidu.com/sem/common/v2" name="AccountService" targetNamespace="https://api.baidu.com/sem/sms/v3" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="https://api.baidu.com/sem/sms/v3">
      <xsd:import schemaLocation="https://api.baidu.com/sem/sms/v3/AccountService?xsd=../../Common.xsd" namespace="http://api.baidu.com/sem/common/v2" />
      <xsd:complexType name="OfflineTimeType">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="flag" type="xsd:int" />
          <xsd:element minOccurs="0" name="time" type="xsd:dateTime" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="AccountInfoType">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="userid" type="xsd:long" />
          <xsd:element minOccurs="0" name="balance" type="xsd:double" />
          <xsd:element minOccurs="0" name="cost" type="xsd:double" />
          <xsd:element minOccurs="0" name="payment" type="xsd:double" />
          <xsd:element minOccurs="0" name="budgetType" type="xsd:int" />
          <xsd:element minOccurs="0" name="budget" type="xsd:double" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="regionTarget" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="excludeIp" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="openDomains" type="xsd:string" />
          <xsd:element minOccurs="0" name="regDomain" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="budgetOfflineTime" type="tns:OfflineTimeType" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="weeklyBudget" type="xsd:double" />
          <xsd:element minOccurs="0" name="userStat" type="xsd:int" />
          <xsd:element minOccurs="0" ref="common:opt" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="getAccountInfoRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="requestData" type="xsd:string" />
            <xsd:element minOccurs="0" name="extended" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getAccountInfoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="accountInfoType" type="tns:AccountInfoType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="updateAccountInfoRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="accountInfoType" type="tns:AccountInfoType" />
            <xsd:element minOccurs="0" name="extended" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="updateAccountInfoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="accountInfoType" type="tns:AccountInfoType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="updateAccountInfoResponse">
    <wsdl:part name="parameters" element="tns:updateAccountInfoResponse" />
  </wsdl:message>
  <wsdl:message name="getAccountInfoResponse">
    <wsdl:part name="parameters" element="tns:getAccountInfoResponse" />
  </wsdl:message>
  <wsdl:message name="updateAccountInfoRequest">
    <wsdl:part name="parameters" element="tns:updateAccountInfoRequest" />
  </wsdl:message>
  <wsdl:message name="AuthHeader">
    <wsdl:part name="AuthHeader" element="common:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="getAccountInfoRequest">
    <wsdl:part name="parameters" element="tns:getAccountInfoRequest" />
  </wsdl:message>
  <wsdl:message name="ResHeader">
    <wsdl:part name="ResHeader" element="common:ResHeader" />
  </wsdl:message>
  <wsdl:portType name="AccountService">
    <wsdl:operation name="getAccountInfo">
      <wsdl:input message="tns:getAccountInfoRequest" />
      <wsdl:output message="tns:getAccountInfoResponse" />
    </wsdl:operation>
    <wsdl:operation name="updateAccountInfo">
      <wsdl:input message="tns:updateAccountInfoRequest" />
      <wsdl:output message="tns:updateAccountInfoResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AccountServiceSOAP" type="tns:AccountService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getAccountInfo">
      <soap:operation soapAction="https://api.baidu.com/sem/sms/v3/AccountService/getAccountInfo" />
      <wsdl:input>
        <soap:header message="tns:AuthHeader" part="AuthHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:ResHeader" part="ResHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateAccountInfo">
      <soap:operation soapAction="https://api.baidu.com/sem/sms/v3/AccountService/updateAccountInfo" />
      <wsdl:input>
        <soap:header message="tns:AuthHeader" part="AuthHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:ResHeader" part="ResHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AccountService">
    <wsdl:port name="AccountService" binding="tns:AccountServiceSOAP">
      <soap:address location="https://api.baidu.com/sem/sms/v3/AccountService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>